*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  /* CSS inheritance */
  font-family: "Nunito", sans-serif;
  background-color: #eee;
  padding: 8px;
}
